:root {
    --primary: #272727;
    --secondary: #EFF1F3;
    --secondaryDark: #E2E6E9;
    --accent: #FED766;
    --alt-accent: #009FB7;
    --neutral: #696773;
}  

html {
    background-color: var(--secondary);
}

body {
    background-color: var(--secondary);
    color: var(--primary);
    display: flex;
    flex-direction: column;
}

#btn-create, #btn-logout, #btn-login, #btn-signup {
    margin: 5px 0px;
}

h1, h2, h3, h4, p#signup {
    text-align: center;
}

nav {
    display: flex;
    flex-direction: row;
}

nav a {
    flex: 1;
    text-align: center;
    font-weight: 600;
    margin-bottom: 10px;
    color: var(--primary);
}

#listContainer {
    display: flex;
}

#pagination {
    text-align: center;
}

#search {
    margin-bottom: 10px;
}

col:nth-child(1) {
    flex: 1;
}

#col-id, #col-edit {
    width: 1%;
}

#table {
    width: 100%;
}

#table td:nth-child(n+3), th:nth-child(n+3) {
    display: none;
}

#table td:last-child, th:last-child {
    display: table-cell;
}

#itemList > tr:nth-child(odd) {
    background-color: var(--secondaryDark);
}

#itemList tr td {
    text-align: center;
}

a {
    text-decoration: none;
    color: var(--primary);
}
 
a:hover {
    text-decoration: underline;
}

.title {
    font-size: larger;
    font-weight: 800;
    text-align: center;
    margin-bottom: 20px;
    margin-top: 0px;
}

@media only screen and (min-width: 480px) {
    #table td:nth-child(-n+3), th:nth-child(-n+3) {
        display: table-cell;
    }
    
    #table td:last-child, th:last-child {
        display: table-cell;
    }
}

@media only screen and (min-width: 720px) {
    #table td:nth-child(-n+4), th:nth-child(-n+4) {
        display: table-cell;
    }
    
    #table td:last-child, th:last-child {
        display: table-cell;
    }
}

@media only screen and (min-width: 1024px) {
    #table td:nth-child(n), th:nth-child(n) {
        display: table-cell;
    }
}

/* Edit/create modal */

#editContainer, #modalContainer {
    display: none;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
    background-color: rgba(0, 0, 0, .66);
    width: 100%;
    height: 100%;
}

#modal {
    background-color: var(--secondary);
    border-radius: 5px;
    max-height: 80%;
    overflow-y: auto;
    width: 90%;
    display: flex;
    flex-direction: column;
    padding: 10px;
    box-shadow: 0px 0px 10px var(--neutral);
}

#modalHeader {
    display: flex;
    flex-direction: row;
}

#modalHeader > p:first-child {
    text-align: center;
    flex: 1;
}

#modalHeader > p:last-child {
    flex: 0;
}

#modalInputs {
    display: flex;
    flex-direction: column;
}

label {
    margin-top: 5px;
    margin-bottom: 5px;
}

input {
    margin-top: 5px;
    margin-bottom: 5px;
}

#modalButtons {
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
}

#modalButtons button {
    width: 25%;
}

/* Manage relation modal */

#relationContainer {
    display: none;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 4;
    background-color: rgba(0, 0, 0, .66);
    width: 100%;
    height: 100%;
}

#modalRel {
    background-color: var(--secondary);
    border-radius: 5px;
    max-height: 80%;
    overflow-y: auto;
    width: 90%;
    display: flex;
    flex-direction: column;
    padding: 10px;
    box-shadow: 0px 0px 10px var(--neutral);
}

#modalRelHeader {
    display: flex;
    flex-direction: row;
}

#modalRelHeader > p:first-child {
    text-align: center;
    flex: 1;
}

#modalRelHeader > p:last-child {
    flex: 0;
}

#modalRelResults {
    list-style: none;
    padding: 0;
}

.relationItem {
    margin: 5px 0px;
    padding: 5px;
}

.relationItem:hover {
    background-color: var(--secondaryDark);
}

#cartContents {
    display: flex;
    flex-direction: column;
}

#cartContents ul {
    list-style: none;
    padding: 0;
}

#cartContents ul li {
    font-size: smaller;
    margin: 5px;
}

#cartContents ul li:hover {
    background-color: var(--secondaryDark);
}

#checkout {
    display: none;
    flex-direction: column;
}